@font-face {
    src: url(../fonts/headline_gothic.ttf);
    font-family: "headline_gothic";
}
* {
    font-family: 'Gothic A1', sans-serif;
    transition: all 0.5s linear;
}
.navbar{
    background-color: #c8095f;
}
.nav-link{
    font-size: 16px;
    color: #fff !important;
    max-width: 250px;
    min-width: 60px;
    margin: auto;
    font-weight: 600;
}
.twitter{
    max-width: 32px;
}
.you{
    max-width: 45px;
}
.logo{
    max-width: 400px;
}
.bt{
    background-color: #f6b01c;
    border-color: #f6b01c;
}
.header{
    min-height: 100vh;
    background-color: #c8095f;
    padding-top: 120px;
}
button:focus{
    outline: none;
}
h1{
    font-size: 60px;
    font-weight: 800;
}
h5{
    font-size: 25px;
    font-weight: 600;
}
.u{
    text-transform: uppercase;
}
.container{
    max-width: 1600px;
}
/*Button/////////////////////////////*/
.button:hover {
    color: #f6b01c !important;
}
.button {
    color: #f6b01c;
    background-color: #f6b01c;
    border: 3px solid #f6b01c;
    color: #000;
    font-weight: 600;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: 0.4s ease;
    z-index: 1;
    text-decoration: none !important;
    border-radius: 10px;
}
.bt-lg{
    padding: 20px;
    max-width: 320px;
    width: 100%;
    font-size: 25px;
}
.button:before, .button:after {
    background-color: #000;
    border-color: #f6b01c;
    transition: 0.3s ease;
    content: "";
    position: absolute;
    z-index: -1;
}
.bottom:before {
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
}
.bottom:hover:before {
    top: 0;
}
/*Top btn*/
.btn-shop{

}
.btn-shop:hover {
    color: #000 !important;
}
.btn-shop {
    color: #f6b01c;
    background-color: #000;
    border: 2px solid;
    border-color: #000;
    border-radius: 10px;
    padding: 12px 25px !important;
    color: #000;
    font-weight: 600;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: 0.4s ease;
    z-index: 1;
    text-decoration: none !important;
    border-radius: 10px;
}
.btn-shop:before, .btn-shop:after {
    background-color: #f6b01c;
    border-color: #f6b01c;
    transition: 0.3s ease;
    content: "";
    position: absolute;
    z-index: -1;
}
.btn-shop:before {
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
}
.btn-shop:hover:before {
    top: 0;
}
.bt-r{
    padding: 15px 25px;
}
.btn-w:hover {
    color: #000 !important;
}
.btn-w {
    color: #f6b01c;
    background-color: #000;
    border: 2px solid;
    border-color: #000;
    border-radius: 10px;
    padding: 12px 25px !important;
    color: #000;
    font-weight: 600;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: 0.4s ease;
    z-index: 1;
    text-decoration: none !important;
    border-radius: 10px;
}
.btn-w:before, .btn-w:after {
    background-color: #fff;
    border-color: #f6b01c;
    transition: 0.3s ease;
    content: "";
    position: absolute;
    z-index: -1;
}
.btn-w:before {
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
}
.btn-w:hover:before {
    top: 0;
}
/*/button////////////////////?*/
.bg-blue{
    background-color: #2d0b60;
    padding: 120px 0;
}
.color{
    color: #f6b01c !important;
}
.yellow-link{
    color: #f6b01c !important;
    text-decoration: underline;
}
.swiper-slide{
    max-width: 24%;
    margin: 0;
    padding: 0;
}
p{
    font-weight: 700;
}
.media sub{
    font-size: 20px;
}
.font-400{
    font-weight: 400;
}
.br{
    border: 2px solid #FFE811;
    border-radius: 10px;
}
.media p{
    margin: 0;
}
.media{
    padding: 20px;
}
.num1{
    color: #FFE811;
}
.num2{
    color: #FFBD2D;
}
.num3{
    color: #FFAC38;
}
.num4{
    color: #FF9A44;
}
.num5{
    color: #FF914A;

}
.num{
    font-size: 50px;
    padding: 0 20px 0 0;
    font-weight: 600;
}
.num6{
    color: #FF715F;
}
.road-map{
    background: #000;
    padding: 120px 0;
}
.card .active .fa-arrow-down{
    transform: rotate(-180deg);

}
.card-header{
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 25px;
}
h3{
    font-size: 25px;
}
.card{
    background: transparent;
    color: #fff;
    border: 0;
}
.pad{
    padding: 100px 0;
}
.fa-arrow-down{
    font-size: 23px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
}
.text-sm{
    font-size: 20px;
    letter-spacing: -2px;
}
.btn-y{
    background: #f6b01c;
    font-size: 20px;
    padding: 15px 20px;
}
.input{
    font-size: 20px;
    padding: 15px;
    margin: 15px;
}
h2{
    font-weight: 700;
    font-size: 40px;
}
.im{
    max-height: 350px;
    width: 100%;
}
.center img{
    max-width: 50px;
}
footer:hover .over{
    width: 200%;
}
footer{
    position: relative;
    height: 250px;
    overflow: hidden;
}
.over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: .4;
    z-index: 1;
}
.center{
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media(max-width: 768px){
    .num{
        font-size: 30px;
    }
    .logo{
        max-width: 200px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 30px;
    }
    h5{
        font-size: 18px
    }
    h3{
        font-size: 21px;
    }
    .swiper-slide{
        max-width: 44%;
        margin: 0;
        padding: 0;
    }
}

















.hum{
    max-width: 25px;
}


@media(max-width: 992px){
    .navbar-expand-md {
        z-index: 99;
        background: white;
        padding: 0;
    }
    .navbar-expand-md .container .navbar-toggler {
        display: block;
    }

    .navbar-collapse {
        width: 100%;
        background: #c8095f;
        position: fixed;
        z-index: 9;
        display: block;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.4s;
    }
    .navbar-collapse ul.navbar-nav {
        position: absolute;
        top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .navbar-collapse ul.navbar-nav li {
        opacity: 0;
        transition: opacity 0.4s cubic-bezier(0.58, 0.3, 0.005, 1);
        padding: 0;
        margin-bottom: 20px;
    }
    .navbar-collapse ul.navbar-nav li a {
        color: white;
        font-size: 18px;
        padding: 0;
    }
    .navbar-collapse.show {
        min-height: 100vh;
        visibility: visible;
        opacity: 1;
        z-index: 9;
    }
    .navbar-collapse.show ul li {
        opacity: 1;
    }
    .navbar-collapse.show ul li:nth-child(1) {
        transition-delay: 0.06s;
    }
    .navbar-collapse.show ul li:nth-child(2) {
        transition-delay: 0.12s;
    }
    .navbar-collapse.show ul li:nth-child(3) {
        transition-delay: 0.18s;
    }
    .navbar-collapse.show ul li:nth-child(4) {
        transition-delay: 0.24s;
    }
    .navbar-collapse.show ul li:nth-child(5) {
        transition-delay: 0.3s;
    }
    .navbar-collapse.show ul li:nth-child(6) {
        transition-delay: 0.36s;
    }

    .navbar-toggler {
        padding: 0;
    }
    .navbar-toggler #nav-icon {
        width: 30px;
        height: 22px;
        position: relative;
        margin: 0 auto;
        transform: rotate(0deg);
        cursor: pointer;
    }
    .navbar-toggler #nav-icon span {
        display: block;
        position: absolute;
        height: 5px;
        width: 50%;
        background: blue;
        opacity: 1;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
    }
    .navbar-toggler[aria-expanded=false] #nav-icon span:nth-child(even) {
        left: 50%;
    }
    .navbar-toggler[aria-expanded=false] #nav-icon span:nth-child(odd) {
        left: 0px;
    }
    .navbar-toggler[aria-expanded=false] #nav-icon span:nth-child(1),
    .navbar-toggler[aria-expanded=false] #nav-icon span:nth-child(2) {
        top: 0px;
    }
    .navbar-toggler[aria-expanded=false] #nav-icon span:nth-child(3),
    .navbar-toggler[aria-expanded=false] #nav-icon span:nth-child(4) {
        top: 9px;
    }
    .navbar-toggler[aria-expanded=false] #nav-icon span:nth-child(5),
    .navbar-toggler[aria-expanded=false] #nav-icon span:nth-child(6) {
        top: 18px;
    }
    .navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(1),
    .navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(6) {
        transform: rotate(45deg);
    }
    .navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(2),
    .navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(5) {
        transform: rotate(-45deg);
    }
    .navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(1) {
        left: 5px;
        top: 7px;
    }
    .navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(2) {
        left: calc(50% - 5px);
        top: 7px;
    }
    .navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(3) {
        left: -50%;
        opacity: 0;
    }
    .navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(4) {
        left: 100%;
        opacity: 0;
    }
    .navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(5) {
        left: 5px;
        top: 12px;
    }
    .navbar-toggler[aria-expanded=true] #nav-icon span:nth-child(6) {
        left: calc(50% - 5px);
        top: 12px;
    }
    .navbar-toggler{
        z-index: 10000;
    }
}



